@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Barlow';
}

:root {
    --padding-container: 100px 0;
    --color-title: #FFC616;
}



.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    min-height: 50vh;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff; 
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFC616;
    background-size: cover;
    opacity: 85%;
    z-index: -11;
}

.about {
    text-align: center;
    font-family: 'Nunito';
}

.subtitle {
    color: var(--color-title);
    font-size: 3.3rem;
    
}

/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;  
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    justify-content: center;

}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.nav__links1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.2s;
}

.nav__links:hover {
    color: #FFC616;
    font-weight: 700;
}

.nav__links1:hover {
    color: #000000;
    font-weight: 700;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
    font-size: 18px;
    color: #DDDDDD;
}

.hero__title {
    font-size: 4.7rem;

}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #FFC616;
    opacity: 1;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    transition: 0.3s;
}

.cta:hover {
    background-color: rgba(71, 71, 71, 0.692)
}

/*Formulario*/
:root{
    --colorTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
}

.grid1{
    margin-top: -30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    grid-auto-rows: minmax(100px, auto);
}

.mapa{
    width: auto;
    grid-column: 1/3;
    grid-row:3; 
}

.detalles{
    width: auto;
    grid-column: 1;
    grid-row:1/3;
}

.detalles h1{
    text-align: left;
}

.detalles p{
    text-align: justify;
    line-height : 25px;
}

.detalles img{
    align-items: left;
    text-align: left;
    justify-content: left;
}

form{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    margin-top: 27px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 35px;
}

input, textarea{
    background-color:#d3d3d36c;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #000000;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}


input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
    color: #000000;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: #FFC616;
    transition: 0.3s ease all;
    left: 0%;
}
button{
    background-color: #FFC616;
    display: block;
    width: 130px;
    height: 60px;
    border:none;
    color:rgb(0, 0, 0); 
    font-weight: bold;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 35px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgba(71, 71, 71, 0.692)
}


@media screen and (max-width:600px){
    .grid1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px;
        grid-auto-rows: minmax(100px, auto);
    }
    
    form{
        justify-content: center;
        width: 60%;
        grid-column: 1/5;
        grid-row: 3;
        margin-top: -40px;
        margin-left: 25px;
    }

    
    .detalles{
        width: auto;
        grid-column: 1/5;
        grid-row:1/3;
        margin-top: -45px;
    }
}

@media screen and (max-width:450px){
    form{
        width: 80%;
    }
}

@media screen and (max-width:300px){
    form{
        width: 90%;
    }
}

/* Footer */

.footer {
    background: #333333;
}

.footer__title {
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: -25px;
}

.footer__title,
.footer__newsletter {
    color: #fff;
    text-align: center;
    justify-content: center;
}


.footer__container {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    text-align: center;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    text-align: center;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
    text-align: center;
}


.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
   
}

.footer__copyright {
    font-weight: 300;
    margin-top: 20px;
    font-size: 12px;  
}

.footer__icons {
    margin-bottom: 10px;
}


.footer__img {
    width: 30px;
}


/* Media queries */

@media (max-width:1311px) {
    body{
        overflow-y: visible;
    }
}

@media (max-width:800px) {
    .nav__menu {
        display: block;
    }

    .nav__links1{
        color:WHITE;
    }

    .nav__links1:hover{
        color:#FFC616;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }


    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .footer__copy {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer__social{
        align-items: center;
        justify-content: center;
    }

    .nav--footer {
        
        justify-items: center;
    }

    .nav__link--footer {
        font-size: 14px;
        justify-content: center;
        margin: 0;
    }

}


@media (max-width:600px) {
    .hero__title {
        font-size: 2rem;
    }

    .hero__paragraph {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .footer__title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer {
        padding-bottom: 60px;
    }

    .nav__link--footer {
        justify-content: space-between;
    }
}