@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Barlow';
}



:root {
    --padding-container: 100px 0;
    --color-title: #FFC616;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff; 
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #000000cc 0%, #000000cc 100%), url('../images/amarillo.jpg');
    background-size: cover;
    z-index: -11;
}

.header-video {
    content: "";
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    z-index: -10;
    opacity: 70%;
    
}

.header-video iframe,
.header-video object,
.header-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-attachment: fixed;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    justify-content: center;

}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.nav__links:hover {
    color: #FFC616;
    font-weight: 700;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
    font-size: 18px;
    color: #DDDDDD;
}

.hero__title {
    font-size: 3.2rem;

}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #FFC616;
    opacity: 1;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    transition: 0.3s;
}

.cta:hover {
    background-color: rgba(71, 71, 71, 0.692)
}

/* CARDS */

.container1 {
    width: 100%;
    max-width: 1200px;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}

.container1 .card {
    width: 330px;
    height: 545px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 35px;
    text-align: center;
    transition: all 0.25s;
}

.container1 .card:hover {
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container1 .card img {
    width: 330px;
    height: 220px;
}

.container1 .card h4 {
    font-weight: 600;
}

.container1 .card p {
    color:#000;
    letter-spacing: 0.03em;
    line-height: 1.6;
    padding: 0 1rem;
    font-size: 14px;
    text-align: justify;
    font-weight: 400;
}



/* About */

.about {
    text-align: center;
    font-family: 'Nunito';
}

.subtitle {
    color: var(--color-title);
    font-size: 3.3rem;
    margin-top: -40px;
}


.about__main {
    padding-top: 40px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    font-size: 16px;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: 0px;
}

.about__icon {
    width: 75px;
}

/* Knowledge */

.knowledge {
    background-color: #7a7a7a1f;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture {
    max-width: 500px;
    border-radius: 8px;
}

.knowledge__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
    text-align: justify;
}

.knowledge__img {
    width: 100%;
    display: block;
    padding:8px 8px 20px 8px;
    background-color: #ffffff;
    border: 1px solid #99999900;
    border-radius: 8px;
}


/* Footer */

.footer {
    background: #333333;
}

.footer__title {
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: -25px;
}

.footer__title,
.footer__newsletter {
    color: #fff;
    text-align: center;
    justify-content: center;
}


.footer__container {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    text-align: center;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    text-align: center;
}

.nav--footer p{
    font-size: 12px;
}




.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
    text-align: center;
}


.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
   
}

.footer__copyright {
    font-weight: 300;
    margin-top: 20px;
    font-size: 12px;  
}

.footer__icons {
    margin-bottom: 10px;
}


.footer__img {
    width: 30px;
}

/* Media queries */

@media (max-width:1350px){
    .about{
        height: 1400px;
    }
}

@media (max-width:905px){
    .about{
        height: 2000px;
    }
}

@media (max-width:800px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }


    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }


    .about__main {
        gap: 2em;
    }

    .about__icons:last-of-type {
        grid-column: 1/-1;
    }


    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture {
        grid-row: 1/2;
        justify-self: center;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .footer__copy {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer__social{
        align-items: center;
        justify-content: center;
    }

    .nav--footer {
        
        justify-items: center;
    }

    .nav__link--footer {
        font-size: 14px;
        justify-content: center;
        margin: 0;
    }

}

@media (max-width:424px){
    .container1 .card {
        width: 330px;
        height: 545px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 35px;
        text-align: center;
        transition: all 0.25s;
    }
    .container1 .card p{
        font-size: 12.5px;
    }
}


@media (max-width:600px) {
    .hero__title {
        font-size: 2rem;
    }

    .hero__paragraph {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .footer__title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer {
        padding-bottom: 60px;
    }

    .nav__link--footer {
        justify-content: space-between;
    }
}